@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap");

:root {
  --Dark-Gray: hsl(0, 0%, 63%);
  --Black: hsl(0, 0%, 0%);
  --White: hsl(0, 0%, 100%);
  --Very-Dark-Gray: hsl(0, 0%, 27%);
}

body {
  font-family: "League Spartan", sans-serif;
  font-weight: 500, 600, 700;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav img {
  width: 30px;
  height: 20px;
  padding: 25px;
  padding-left: 50px;
}

ul {
  position: relative;
  right: 30px;
}

a.a-list {
  margin-top: 33px;
  text-decoration: none;
  text-decoration-color: var(--White);
  color: var(--White);
}

a.a-list:active {
  text-decoration: underline;
  text-decoration-color: var(--White);
  color: var(--White);
  text-decoration-thickness: 3px;
}

a.a-list:focus {
  text-decoration: underline;
  text-decoration-color: var(--White);
  color: var(--White);
  text-decoration-thickness: 3px;
}

a.a-list:hover {
  text-decoration: underline;
  text-decoration-color: var(--White);
  color: var(--White);
  text-decoration-thickness: 3px;
}

nav ul {
  margin-top: 30px;
}

.main-container {
  width: 100%;
  height: auto;
}

.flex-container1 {
  display: flex;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  color: var(--White);
}

.item1-row1 {
  background-image: url(../images/desktop-image-hero-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 60vw;
  height: 75vh;
}

.item2-row1 {
  width: 40vw;
  height: 75vh;
  border: 1px black solid;
  position: relative;
}

.flex {
  display: flex;
}

.item2-row1 .title-paragraph {
  height: 75vh;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; 
  
  
  max-width: 520px;
  padding-left: 100px;
  padding-right: 100px;
}

.item2-row1 .title-paragraph p {
  text-align: start;
  color: var(--Dark-Gray);
}

.link-non-dashed {
  text-decoration: none;
  color: var(--Dark);
}

.arrows-flex {
  position: absolute;   /* Se posiciona dentro del contenedor */
  bottom: 0;            /* Pegado abajo */
  left: 0;              /* Pegado a la izquierda */
  display: flex;
}

.arrow1, .arrow2 {
  width: 120px;
  height: 80px;
  background-color: var(--Black);
}

.img-left, .img-right {
  position: relative;
  left: 45%;
  top: 35%;
}