@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap");

body {
  font-family: "League Spartan", sans-serif;
  font-weight: 500, 600, 700;
  font-size: 12px;
}
