@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap");

:root {
  --Dark-Gray: hsl(0, 0%, 63%);
  --Black: hsl(0, 0%, 0%);
  --White: hsl(0, 0%, 100%);
  --Very-Dark-Gray: hsl(0, 0%, 27%);
}

body {
  font-family: "League Spartan", sans-serif;
  font-weight: 500, 600, 700;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav img {
  width: 30px;
  height: 20px;
  padding: 25px;
  padding-left: 50px;
}

ul {
  position: relative;
  right: 30px;
}

a.a-list {
  margin-top: 33px;
  text-decoration: none;
  text-decoration-color: var(--White);
  color: var(--White);
}

a.a-list:active {
  text-decoration: underline;
  text-decoration-color: var(--White);
  color: var(--White);
  text-decoration-thickness: 3px;
}

a.a-list:focus {
  text-decoration: underline;
  text-decoration-color: var(--White);
  color: var(--White);
  text-decoration-thickness: 3px;
}

a.a-list:hover {
  text-decoration: underline;
  text-decoration-color: var(--White);
  color: var(--White);
  text-decoration-thickness: 3px;
}

nav ul {
  margin-top: 30px;
}

.main-container {
  width: 100%;
}

.flex {
  display: flex;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  color: var(--White);
}

.item1-row1 {
  background-image: url(../images/desktop-image-hero-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  width: 830px;
  height: 534px;
}

p {
  line-height: 1.5;
}

.bottom-title {
  padding: 60px;
}

.item1-row2 {
  background-image: url(../images/image-about-dark.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.item3-row3 {
  background-image: url(../images/image-about-light.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.item2-row1 {
  position: relative;
}

.item2-row2 {
  position: relative;
}

.flex {
  display: flex;
}

.col1 {
  width: 28%;
}
.col2 {
  width: 46%;
}
.col3 {
  width: 30%;
}

.bt-section {
  height: 250px;
}

.item2-row1 .title-paragraph {
  height: 75vh;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  max-width: 520px;
  padding-left: 100px;
  padding-right: 100px;
}

.item2-row1 .title-paragraph p {
  text-align: start;
  color: var(--Dark-Gray);
}

.link-non-dashed {
  text-decoration: none;
  color: var(--Dark);
}

.arrows-flex {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
}

.arrow1,
.arrow2 {
  width: 120px;
  height: 80px;
  background-color: var(--Black);
}

.arrow1:hover,
.arrow2:hover {
  background-color: var(--Very-Dark-Gray);
}

.img-left,
.img-right {
  position: relative;
  left: 45%;
  top: 35%;
}

/* ------------- Hecho 13/11/2025 en videollamada Discord ------------------ */

/* .w-600 {
  width: 600px;
} */

/* .item1 {
  width: 840px;
  height: 534px;
} */

/* .bg1 {
  background-image: url("../images/desktop-image-hero-1.jpg");

  background-repeat: no-repeat;
} */

/* .relative {
  position: relative;
} */

/* .fix-lb {
  position: absolute;
  left: 0;
  bottom: 0;
} */

/* .flex {
  display: flex;
} */

/* .border {
  border: 2px solid red;
} */

/* .bg-black {
  background-color: black;
} */

/* .p-3 {
  padding: 10px;
} */
