*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial;
}

.grid-container{
    width: 90%;
    /* height: 600px; */
    outline: 2px solid;
    margin: 30px auto;
    
    display: grid;

    /* grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr); */

    /* justify-items (alineación horizontal): start | end | center | stretch */
    /* justify-items: center; */

    /* align-items (alineación vertical): start | end | center | stretch | baseline */
    /* align-items: center; */
    
    /* column-gap: 5px;
    row-gap: 20px; */
    gap: 10px;

    /* grid-template-areas: 
    "nav nav nav nav nav"
    "main main main side side"
    "main main main side side"
    "main main main side side"
    "footer footer footer footer footer"; */

    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 250px;
}

.grid-item{
    /* width: 50px;
    height: 170px;  */
    color: white;
    font-size: 2em;
    
    display: flex;
    align-items: center;
    justify-content: center;

    background-size: cover;
    background-position: center;
}

.item1{
    background-color: blue;
    /* grid-column: 1/3;
    grid-row: 1/3; */
    /* grid-area: nav; */
    background-image: url("../img/imagen1.jpg");
}

.item2{
    background-color: orange;
    /* grid-area: main; */
    background-image: url("../img/imagen2.jpg");
}

.item3{
    background-color: red;
    /* grid-area: side; */
    background-image: url("../img/imagen3.jpg");
}

.item4{
    background-color: green;
    /* grid-area: footer; */
    background-image: url("../img/imagen4.jpg");
}

.item5{
    background-color: crimson;
    background-image: url("../img/imagen5.jpg");
}

.item6{
    background-color: gray;
    background-image: url("../img/imagen6.jpg");
}
/* 
@media (max-width:800px){
    .grid-container{
        grid-template-areas: 
        "main main main main main"
        "main main main main main"
        "side side side side side"
        "side side side side side"
        "footer footer footer footer footer";
    }
} */